.content {
	width: 90%;
	margin: auto;
	margin-top: 20px;
}
.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: grey;
}
.summary {
	margin-top: 20px;
}
.title {
	color: #287FF6;
}
.line {
	background-color: #287FF6;
}
.wraper-for-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40%;
}
.projects {
	margin-bottom: 70px;
}
.projects-wraper {
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	margin: 20px;
	margin
}
.project {
	width: 250px;
	height: 250px;
	border: 1px solid red;
}
.project img {
	width: 250px;
	height: 250px;
}
@media screen and (max-width: 800px) {
 	.contacts {
 		display: flex;
 		flex-direction: column; 	
 	}
 	.info-about-me {
 		display: flex;
 		flex-direction: column;
 		justify-content: center;
 		align-items: center;
 	}
 	.knowledge {
 		text-align: center;
 	}
 	.wraper-for-text {
 		width: 100%;
 	}
}

