.navbar {
	border-bottom: 1px solid black;
}
.btn {
	background-color: white !important;
	color: black !important;
}
.content {
	width: 90%;
	margin: auto;
	margin-top: 20px;
}
.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: grey;
}
.summary {
	margin-top: 20px;
}
.title {
	color: #287FF6;
}
.line {
	background-color: #287FF6;
}
.wraper-for-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40%;
}

