/* styles go by tags and so below and below */
* {
	font-family: "monospace";
}
.wraper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-user-select: none;
}
#allApp {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	min-width: 350px;
	margin-top: 15px; 
}
.wrapperForButtons {
	display: flex;
	
}
#numbers {
	display: flex;
	flex-direction: column;
}
#deleteButtons {
	display: flex;
}
.numbersInRow {
	display: flex;
}
#symbols {
	display: flex;
	flex-direction: column;
}


/* outPut */
#showTheOutput {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background-color: #000;
	color: #ffff;
}
#output {
	padding: 10px;	
	font-size: 40px;
}
/* -------------------------------------------- */

/* greyButons */
.usualButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	background-color: #d7d8da;
	font-size: 40px;
}
.hoverColor:hover {
	background-color: #dedfe2;
}
#zero {
	width: 304px;
	height: 100px;
}
.clear {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 202px;
	height: 100px;
	border: 1px solid black;
	background-color: #d7d8da;
	font-size: 40px;
}
.lastLine {
	display: flex;
}
/* -------------------------------------------- */

/* symbols */
#symbols {
	display: flex;
	flex-direction: column;
}
.symolButt {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border:1px solid black;
	background-color: #e5954d;
	color: #fff;
	font-size: 40px;
}
.symolButt:hover {
	background-color: #ffc18a;
}
/* #equal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border:1px solid black;
	background-color: #e5954d;
	color: #fff;
	font-size: 40px;
}
#equal:hover {
	background-color: #ffc18a;
} */
/* -------------------------------------------- */